@import '../../style/constants/colors.module';

.button {
  border: 1px solid $base-grey;
  border-radius: 5px;
  min-width: 2em;
  min-height: 2.5em;
  width: fit-content;
  height: fit-content;

  &.submit {
    background-color: $primary-color;
  }

  &.info {
    background-color: $secondary-color;
  }

  &.add {
    background-color: darkseagreen;
  }

  &:hover {
    opacity: 75%;
  }
}
