:root[data-theme='theme-light'] {
  --primary-color: #c8e4b2;
  --primary-variant-color: #c8e4b2;
  --secondary-color: #adc4ce;
  --tertiary-color: #f1f0e8;
  --text-color: #000000;
  --form-input-color: #ffffff;
  --label-color: #3d3d3d;
  --form-input-text-color: #000000;
  --base-grey: #d8d9da;
  --background-color: #ffffff;
  --menu-background-color: #d1d1d1;
  --border-color: #000;
}

:root[data-theme='theme-dark'] {
  --primary-color: #bb86fc;
  --primary-variant-color: #3700b3;
  --secondary-color: #03dac5;
  --tertiary-color: #f1f0e8;
  --text-color: #ffffff;
  --form-input-color: #6d6d6d;
  --label-color: #b1b1b1;
  --form-input-text-color: #fff;
  --base-grey: #5c5c5c;
  --background-color: #121212;
  --menu-background-color: #6d6d6d;
  --border-color: #fff;
}

// Main Colours
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$tertiary-color: var(--tertiary-color);

// Text Colours
$text-color: var(--text-color);

// Form Colours
$form-input-color: var(--form-input-color);
$label-color: var(--label-color);
$form-input-text-color: var(--form-input-text-color);

// Background Colours
$base-grey: var(--base-grey);
$background-color: var(--background-color);
$menu-background-color: var(--menu-background-color);
$border-color: var(--border-color);

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  tertiaryColor: $tertiary-color;
  textColor: $text-color;
  baseGrey: $base-grey;
  backgroundColor: $background-color;
  menuBackgroundColor: $menu-background-color;
}
