.fieldarray__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fieldarray__form__container {
  width: 75%;
}

.fieldarray__header {
  display: flex;
  column-gap: 1rem;
  align-items: center;

  .fieldarray__append-button {
    height: fit-content;
  }
}
