@import '../../style/constants/colors';

.form__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;


  .form__tabs {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    a {
      padding: 2%;
    }
  }
  
  .form__details_container {
    width: 75%;
    max-height: 100%;
    overflow-y: scroll;
  }

}

.form__input__container {
  width: 100%;
  margin-bottom: 3%;

  .form__error {
    color: red;
    font-size: 0.75rem;
    margin: 0.4rem 0 0 0.5rem;
    width: 100%;
    word-wrap: break-word;
  }
}

.form__input__group {
  border: none;
  border: solid 1px #000;
  border-radius: 4px;
  padding-left: 2%;
  background: white;

  &.invalid {
    border: 2px solid red;
  }

  &:focus-within {
    border-width: 2px;
  }


  .form__input {
    height: 2rem;
    border: none;
    width: 100%;
    background-color: transparent;
    padding-bottom: 0;

    &.form__input-multiline {
    height: auto;
    }

    &:focus {
      outline-width: 0;
    }

    &::placeholder {
      font-size: 1rem;
    }
  }

  .form__input__label {
    width: fit-content;
    color: #636c72;
    background-color: white;
    font-size: 0.75rem;
    position: relative;
    top: 9px;
    margin-left: 2%;
    padding: 0% 1%;
  }
}

.form__checkbox{
  border-left: solid 1px;
  border-top: solid 1px;
  border-right: solid 2px;
  border-bottom: solid 2px;
  border-color: $secondary-color;
  border-radius: 4px;
  width: fit-content;
  padding: 1%;
  margin: 1%;

  &.checked {
    border-left: solid 2px;
    border-top: solid 2px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-color: $primary-color;
}

  .form__input__label {
    background-color: white;
    margin-right: 0.5%
  }
}