@import '../style/constants/colors.module';

.remove-formatting {
  color: $text-color;
  text-decoration: none;
}

.unselected {
  &:hover {
    cursor: pointer;
  }
}

.selected {
  color: $text-color;
}
