.form__input {
    height: 2rem;
    border: none;
    border: solid 1px #000;
    border-radius: 4px;
    width: 100%;
    padding-left: 3%;

    &::placeholder {
        font-size: 1rem;
    }

    &.invalid {
        border: 2px solid red
    }
}


.form__input__group    {
    width: 75%;
}

.form__error {
    color: red;
    font-size: 0.75rem;
    margin: 0.4rem 0 0 0.5rem;
    width: 100%;
    word-wrap: break-word;
}
