@import '/src/style/constants/colors';

.navbar__container {
  height: 7%;
  width: 100%;
  background-color: $menu-background-color;
}

.navbar__iconlist {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.navbar__link {
  display: flex;
  text-decoration: none;
  color: $text-color;
  width: 100%;

  &:hover {
    opacity: 50%;
  }

  div {
    display: flex;
  }

  * {
    margin-left: 5%;
    height: auto;
  }
}
