@use '/src/style/constants/colours';

.navbar__container {
    display: flex;
    height: 100%;
    width: 10%;
    background-color: lightgrey;
}

.navbar__iconlist {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.navbar__link {
    display: flex;

    &:hover {
        opacity: 50%;
    }

    div {
        display: flex;
    }

    * {
        color: black;
        height:auto;
    }
}

