.global__container {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: calc(100vh);
}

.global__content {
    width: 100%;
    height: calc(100vh - 6vh);
    padding: 2vh;
}