.form__main-container--padding {
  height: 95%;

  .form__main-container {
    box-sizing: border-box;
    height: 100%;
    padding: 1%;

    & h1 {
      margin: 0;
    }

    & .form__header {
      display: flex;
      column-gap: 2rem;
      height: 5%;
      margin-bottom: 2%;

      div input:first-of-type {
        margin-right: 2em;
      }
    }

    & .form__content {
      height: 90%;
    }

    > .form__footer {
      display: flex;
      justify-content: end;
    }
  }
}
